* {
  font-family: "Noto Sans KR", sans-serif;
  list-style: none;
  text-decoration: none;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  color: black;
}

h1 {
  font-size: 48px;
  font-weight: 100;
}
h4 {
  font-size: 20px;
  font-weight: lighter;
  text-align: center;
}
.contents3 {
  font-size: 14px;
  font-weight: 100;
}
.result {
  font-size: 24px;
  text-align: center;
}
.contents1_bold {
  font: size 18px;
  font-weight: bold;
}

.intro_bg {
  background-image: url("image/intro.png");
  width: 100%;
  height: 718px;
}

.header {
  display: flex;
  height: 86px;
  width: 1280px;
  margin: auto;
}

.search_area {
  width: 300px;
  height: 40px;
  background: #00000080;
  border-radius: 5px;
  margin-top: 24px;
}

.search_area > form > input {
  border: none;
  width: 250px;
  height: 40px;
  background: rgba(0, 0, 0, 0, 0);
  color: black;
  padding-left: 10px;
}

.search_area > form > span {
  width: 50px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}

.nav {
  display: flex;
  justify-content: flex-end;
  line-height: 86px;
  width: calc(1280px - 300px);
}
.nav > li {
  margin-left: 84px;
}
.nav > li > a {
  color: #fff;
}

.intro_text {
  width: 100%;
  margin: 231px auto 231px auto;
  text-align: center;
}
.intro_text > h1,
.intro_text > h4 {
  color: #fff;
}

.amount {
  position: relative;
  top: -66px;
  width: 1280px;
  background: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  margin: auto;
}
.amount > li {
  flex: 1;
  height: 132px;
}
.amount > li > div {
  text-align: center;
  height: 57px;
  margin-top: 37px;
}

.amount > li:not(:last-child) {
  border-right: 1px solid #e1e1e1;
}

.main_text0 {
  width: 100%;
  height: 601px;
  margin-top: -132px;
  background: #f1f2f3;
}
.main_text0 > h1 {
  padding-top: 116px;
  text-align: center;
}
.main_text0 > .contents1 {
  text-align: center;
  font-size: 20px;
  font-weight: lighter;
}
.icons {
  display: flex;
  width: 1280px;
  height: 302px;
  margin: auto;
  text-align: center;
}
.icons > li {
  flex: 1;
  background: white;
  margin-top: 49px;
  height: 302px;
}
.icon_img {
  margin-top: 18px;
}
.icons > li:not(:last-child) {
  margin-right: 20px;
}
.icons .contents3 {
  width: 240px;
  margin: auto;
  letter-spacing: -1px;
}
.more {
  width: 100px;
  height: 30px;
  background: #2f7af4;
  color: white;
  font-size: 12px;
  line-height: 30px;
  margin: 25px auto;
}
.main_text1 {
  width: 100%;
  height: 659px;
}
.main_text1 > h1 {
  padding-top: 50px;
  text-align: center;
}
.main_text1 > h4 {
  text-align: center;
}
.service {
  width: 1280px;
  height: 427px;
  display: flex;
  margin: 49px auto;
}
.service > .contents3 {
  padding: 20px;
}
.service > .contents3 > h2 {
  margin-bottom: 27px;
}
.main_text2 {
  width: 100%;
  height: 418px;
  background-image: url("image/contact.png");
}
.main_text2 > ul {
  display: flex;
  padding-top: 138px;
}
.main_text2 > ul > li {
  flex: 1;
  text-align: center;
}
.main_text2 > ul > li > div,
.main_text2 > ul > li > div > h1 {
  color: white;
}
.more2 {
  width: 220px;
  height: 40px;
  border: 1px solid #fff;
  cursor: pointer;
  line-height: 40px;
  margin: 20px auto;
}
footer {
  padding: 30px;
  background: #1f1f1f;
  display: flex;
}
footer > div:first-child {
  flex: 3;
  text-align: center;
  color: #fff;
}
footer > div:last-child {
  flex: 7;
  color: #fff;
}
